<nav class="blue-grey"> 
	
	{{#if notHome}}
		<img width="70" src="images/{{pic}}" class="left">
		<a id="home"class="btn waves-effect waves-light" href="/" class="right"><i class="fa fa-home"></i></a>
		{{>featureDiscovery}}
	{{/if}}
	<p class="text-white center-align" id="brand">Tech Central</p>
</nav>