<div class="card" id="articles">
	<h3>Read Articles</h1>
	<a href="hn" class="btn pink waves-effect waves-light pink-text text-lighten-5" id="hn">Hacker News</a>
	<a href="tc" class="btn pink waves-effect waves-light pink-text text-lighten-5" id="tc">TechCrunch</a>
</div>
<div class="card col-s4" id="scrape">
	<h3>Get New Articles</h1>
	<button id="hn_scrape" class="btn blue waves-effect waves-light blue-text text-lighten-5">Hacker News</button>
	<button id="tc_scrape" class="btn blue waves-effect waves-light blue-text text-lighten-5">TechCrunch</button>
</div>
